apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: filebeat
  namespace: kube-system
  labels:
    app: filebeat
spec:
  template:
    metadata:
      labels:
        app: filebeat
      name: filebeat
    spec:
      imagePullSecrets:
      - name: blregistry
      containers:
      - name: filebeat
        image: registry.bukalapak.io/bukalapak/filebeat-kubernetes:v0.1
        imagePullPolicy: Always
        resources:
          limits:
            cpu: 500m
            memory: 500Mi
        env:
          - name: LOGSTASH_HOSTS
            value: '["172.18.6.82:6043", "172.18.6.86:6043"]'
          - name: FILEBEAT_HOST
            valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
        volumeMounts:
        - name: varlog
          mountPath: /var/log/containers
        - name: varlogpods
          mountPath: /var/log/pods
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
      terminationGracePeriodSeconds: 30
      volumes:
      - name: varlog
        hostPath:
          path: /var/log/containers
      - name: varlogpods
        hostPath:
          path: /var/log/pods
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
